@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

:root {
  --color-primary: #3bb4c1;
  --color-primary-light: #65adb8;
  --color-primary-super-light: #79ced7;
  --color-navbar: #048998;
  --color-text: #555555;
  
  --border: #dddddd;
  --shadow: #e3e7f1;
  --background: #f5f7fa;

  --color-heart: #ed143d;
  --color-success: #52BE80;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  color: var(--color-text);
}

section{
  padding: 1rem 0;
}

ul{
  margin: 0;
  padding: 0;
}

/* ---- Modifiers ---- */

.container{
  padding: 5rem 1rem 1rem;
}

/* ---- Navbar ---- */
.nav-link {
  border: 0;
  background: rgba(0, 0, 0, 0);
}

.navbar-toggler{
  border: 0;
}
.dropdown-toggle.btn-primary{
  background-color: var(--color-primary-light);
}

.navbar-light-primary{
  background-color: var(--color-navbar);
}

.navbar-right-fixed{
  position: absolute;
  right: 16px;
  top: 9px;
}

.navbar-favorite{
  position: absolute;
  right: 28px;
  top: 12px;
  font-size: 1.5rem;
  color: var(--white);
  background: rgba(0, 0, 0, 0);
  border: 0;
}

.show>.btn-primary.dropdown-toggle{
  background: var(--color-primary);
}

/* ---- Button ---- */

.btn-primary{
  background-color: var(--color-primary);
  border: 0;
}

.btn-primary:hover{
  background-color: var(--color-primary);
  border: 0;
}

.btn-is-success{
  background-color: var(--color-success);
  color: var(--white);
}

.btn-is-success:hover{
  background-color: var(--color-success);
  color: var(--white);
}

.btn-is-rounded{
  border-radius: 25px;
}

.btn-profile{
  padding: 0;
  margin: 0;
}

.btn-profile > i{
  font-size: 2rem;
  color: var(--white);
  margin-left: 1.5rem;
}

/* ---- Card ---- */

.card{
  margin: 2rem 0;
  border: 0;
  border-radius: .5rem;
  box-shadow: 0 0 10px var(--shadow);
}
.card-img-top{
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-body{
  position: relative;
}

.card-favorite{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  color: var(--color-heart);
  background: rgba(0, 0, 0, 0);
  border: 0;
}

/* ---- Card horizontal ---- */

.card-horizontal{
  flex-direction: row;
}

.card-horizontal-img{
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}


/* ---- Icons ---- */

.fa-heart, .fa-shopping-cart, .fa-plane-departure {
  margin-right: .25rem;
}

/* ---- Profile ---- */

.bg-profil{
  position: absolute;
  width: 100vw;
  height: 200px;  
  top: 54px;
  left: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-content{
  position: relative;
  z-index: 1;
}

.profile-title{
  color: var(--white);
  text-align: center;
}

.overlay{
  position: absolute;
  width: 100vw;
  height: 200px;  
  top: 54px;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.profile-data{
  margin-top: 6rem;
}

/* ---- Search flight ---- */

.search-flight{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
}

.search-flight select{
  margin-bottom: 1.5rem;
}

.date-picker{
  margin-bottom: 1.5rem;
}

.custom-select{
  border: 1px solid var(--border);
}

/* ---- Quantity flight ---- */

.qty-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--border);
  border-radius: 3px;
  height: 40px;
  width: 150px;
  margin-bottom: 1.5rem;
}

.qty-box span {
  color: var(--color-primary);
  line-height: 40px;
  text-align: center;
  width: calc(100%/3);
}

.dec, .inc {
  height: 100%;
  cursor: pointer;
}

.qty{
  color: var(--white);
  background: var(--color-super-light);
  line-height: 38px;
}

/* ---- Modifier ---- */

.react-datepicker__input-container{
  width: 100% !important;
}

.react-datepicker__day--selected{
  background-color: var(--color-primary) !important;
}

.react-datepicker__header{
  background-color: var(--background) !important;
  border-bottom: 0 !important;
}
