@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

:root {
  --color-primary: #8186d5;
  --color-dark-primary: #FF4500;
  --color-light-primary: #FF7F50;

  --color-text: #555555;

  --shadow: #e3e7f1;
  --background: #f5f7fa;

  --color-heart: #ed143d;
  --color-success: #52BE80;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  color: var(--color-text);
}

ul{
  margin: 0;
  padding: 0;
}

/* ---- Modifiers ---- */

.container{
  padding: 5rem 1rem 1rem;
}

/* ---- Navbar ---- */
.nav-link {
  border: 0;
  background: rgba(0, 0, 0, 0);
}

.navbar-toggler{
  border: 0;
}

.navbar-light-primary{
  background-color: #494ca2;
}

.navbar-favorite{
  position: absolute;
  right: 28px;
  top: 12px;
  font-size: 1.5rem;
  color: var(--white);
  background: rgba(0, 0, 0, 0);
  border: 0;
}

.show>.btn-primary.dropdown-toggle{
  background: var(--color-primary);
}

/* ---- Button ---- */

.btn-primary{
  background-color: var(--color-primary);
  border: 0;
}

.btn-primary:hover{
  background-color: var(--color-primary);
  border: 0;
}

.btn-is-success{
  background-color: var(--color-success);
  color: var(--white);
}

.btn-is-success:hover{
  background-color: var(--color-success);
  color: var(--white);
}

.btn-is-rounded{
  border-radius: 25px;
}

/* ---- Card ---- */

.card{
  margin: 2rem 0;
  border: 0;
  border-radius: .5rem;
  box-shadow: 0 0 10px var(--shadow);
}
.card-img-top{
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card-body{
  position: relative;
}

.card-favorite{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  color: var(--color-heart);
  background: rgba(0, 0, 0, 0);
  border: 0;
}

/* ---- Icons ---- */

.fa-heart, .fa-shopping-cart, .fa-plane-departure {
  margin-right: .25rem;
}